/*here is the code responsple for the site to be responsive*/
@media (min-width: 1300px) {
  .result {
    height: 30vh;
  }
  .info {
    height: 90vh;
  }
}
@media (max-width: 1100px) {
  h1 {
    font-size: 2.4rem;
  }
  .site-description {
    font-size: 1.5rem;
  }
  .input {
    width: 80%;
  }
  .full {
    width: 98%;
  }
}
@media (max-width: 880px) {
  h1 {
    font-size: 2.1rem;
  }
  .site-description {
    font-size: 1.5rem;
  }
  .status {
    width: 80%;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
  }
  .nv {
    justify-content: flex-start;
  }
  .icon-div {
    padding: 1rem 0 0 4rem;
  }
  .options {
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background-color: #556052;
    height: 100vh;
    width: 100%;
    z-index: 1;
    color: white;
    clip-path: circle(100px at 110% -25%);
    -webkit-clip-path: circle(100px at 110% -25%);
    transition: all 0.7s ease-in-out;
    pointer-events: none;
  }
  .options li a {
    color: white;
  }
  .options.open {
    clip-path: circle(1800px at 110% -25%);
    -webkit-clip-path: circle(1800px at 110% -25%);
    pointer-events: all;
  }
  .page-content h1,
  .page-content p {
    animation: none !important;
  }
  .calculator {
    width: 95%;
  }
}

@media (max-width: 779px) {
  h1 {
    font-size: 2rem;
  }
  #meals {
    flex-direction: column;
    flex: 2.5;
    justify-content: center;
    align-items: center;
  }
  .calculator-container {
    transition-delay: 0.5s;
  }
  .meal-container {
    width: 100%;
  }
  #items {
    flex: 2.5;
    padding: 0;
  }
  .add-meal {
    top: 0;
  }

  .category-container {
    width: 100%;
  }
  .calculator {
    flex-direction: column;
    align-items: center;
  }
  .calc-item-container {
    width: 100%;
  }
  .gender-area {
    padding: 10px 10px;
  }
  #pop-up {
    font-size: 0.9rem;
  }
  .pop-btn {
    padding: 0 1rem;
  }
  .page-content {
    padding: 10rem 2rem !important;
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 3rem;
  }
  .intro-pic {
    display: none;
  }

  .intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .intro-containter {
    padding: 5rem 0 0 1rem;
  }
  .calc-item {
    height: 40vh;
  }
  .info {
    height: 80vh;
  }
}
@media (max-width: 630px) {
  .icon-div {
    padding: 1rem 0 0 2rem;
  }
  h1 {
    font-size: 2.3rem;
  }
  .heading-name {
    line-height: 2rem;
  }
  .site-description {
    font: 0.7rem;
  }
  .status {
    width: 90%;
    font-size: 1rem;
  }

  .page-content p {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.8rem;
  }
  .intro-containter {
    padding: 1rem 0 0 1rem;
  }
  .status {
    width: 98%;
    font-size: 0.7rem;
  }
  .site-description {
    font-size: 1rem;
  }

  .input-info {
    padding-top: 0.6rem;
  }
}
@media (max-height: 850px) {
  .calc-item {
    height: 50vh;
  }
  .info {
    height: 90vh;
  }
  .result {
    height: 30vh;
  }
}
@media (max-height: 600px) {
  .calc-item {
    height: 60vh;
  }
  .info {
    height: 110vh;
  }
  .intro-containter {
    padding: 4rem 0 0 4rem;
  }
}
@media (max-height: 500px) {
  .calc-item {
    height: 65vh;
  }
  .info {
    height: 140vh;
  }
  .result {
    height: 40vh;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .meal-container {
    height: 768px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .meal-container {
    height: 1024px;
  }
}
/* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .meal-container {
    height: 320px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .meal-container {
    height: 568px;
  }
}
/* iPhone 4 */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .meal-container {
    height: 320px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .meal-container {
    height: 480px;
  }
}
