/*
the general styles
*/
* {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;

  background-color: #f1f1f1;
}
h1 {
  font-size: 3.3rem;
  font-weight: 900;
}

/*
nav bar styles
*/
#main {
  height: auto;
  background-color: #f1f1f1;
}
.nv {
  overflow: hidden;
  height: 8%;
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  position: relative;
}
.hamburger {
  display: none;
}
.line {
  width: 40px;
  height: 4px;
  background-color: #8db596;
  margin-top: 8px;
}
.icon-div {
  padding: 1rem 0 0 0;
  flex: 0.5;
}
.icon {
  width: 61px;
  height: 61px;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 1rem 0 0 4rem;
}
.li-container {
  display: flex;
  flex: 2;
  justify-content: space-around;
}
.options li {
  list-style-type: none;
}
.options li a {
  text-decoration: none;
  color: #556052;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
/*
the intro style
*/
.intro {
  height: auto;
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-containter {
  height: 100%;
  width: 90%;
  padding: 10rem 0 0 1rem;
  display: flex;
}
.intro-content {
  min-height: 70vh;
  height: 100%;
  flex: 1.5;
}
.heading-name {
  margin-top: -20px;
  width: 90%;
  font-family: "Zilla Slab", serif;
  line-height: 4.5rem;
  color: #556052;
  margin-bottom: 45px;
}
.site-description {
  color: #7a7575;
  font-size: 1.5rem;
  width: 80%;
}
.try-button {
  display: block;
  text-align: center;
  background-color: #556052;
  margin-top: 80px;
  padding: 1rem 0;
  width: 50%;
  text-decoration: none;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  font-size: 1.2rem;
  transition: 0.5s ease !important;
}
.try-button:hover {
  background-color: #556052ea;
  border-radius: 0px;
}
.intro-pic {
  flex: 1;
}
.pic {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  box-shadow: 0px 0px 50px rgb(133, 132, 132, 0.1), 0px 0px 20px #a6f6f1bd;
  object-fit: cover;
}
#pop-up {
  text-align: center;
  height: 10vh;
  background-color: #556052;
  color: white;
  font-size: 1.5rem;
  position: fixed;
  padding: 2rem 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.8s ease-in;
}
#pop-up.hidden {
  opacity: 0;
  pointer-events: none;
}
.pop-btn {
  display: inline;
  padding: 0.2rem 2rem;
  border: none;
  font-size: 1rem;
  color: #556052;
  margin-left: 8px;
  outline: none;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(204, 203, 203);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::placeholder {
  color: rgb(172, 172, 172);
  opacity: 1;
}
